body{
    display: block;
    margin: 10px;
}
.main{
    background-color: grey;
}
.head{
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    border: 8px solid red;
    background-color: white;
    width: 500px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 10px 10px purple;
    align-items: center;
    text-shadow: 2px 1px 2px purple;
    flex-direction: column;
}
.header h2{
    color: purple;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0;
}
.body{
    border: 8px solid green;
    height: 800px;
}
.address{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.box1{
    height: 250px;
    width: 200px;
    border: 8px solid red;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 10px 10px 5px purple;
    text-shadow: 2px 1px 2px purple;
}
.box1 h3{
    font-style: italic;
    font-weight: bold;
    color: purple;
    margin-bottom: 0px;
}
.box2{
    height: 270px;
    width: 200px;
    border: 8px solid red;
    border-radius: 10px;
    background-color: white;
    display: flex;
    box-shadow: 10px 10px 5px purple;
}
.address2{
    display: flex;
    justify-content: space-between;
}
.box3{
    height: 250px;
    width: 200px;
    border: 8px solid red;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 10px 10px 5px purple;
    text-shadow: 2px 1px 2px purple;
}
.box4{
    height: 280px;
    width: 200px;
    border: 8px solid red;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 10px 5px purple;
    text-shadow: 2px 1px 2px purple;
}
.box4 h3{
    margin-left: 10px;
}
.rateUs{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.rateUs span{
    text-align: center;
}
.rateUs input{
    width: 150px;
    align-self: center;
}
.submit{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.submit span{
    text-align: center;
}
.submit input{
    width: 100px;
    background-color: red;
    font-weight: bold;
    border-radius: 10px;
    align-self: center;
}
.footer{
    width: 60%;
    border: 8px solid blueviolet;
    margin: 10px auto;
    background-color: green;
}
.footer h2{
    text-align: center;
}
.store{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.fruits{
    background-color: yellow;
    font-style: italic;
    padding: 0px 20px 20px 20px;
    width: 380px;
}
.vegetables{
    background-color: yellow;
    font-style: italic;
    padding: 0px 20px 20px 20px;
    width: 380px;
}
.other-items{
    background-color: yellow;
    font-style: italic;
    margin: 0px 15px 50px 15px;
    padding-bottom: 3px;
    text-align: center;
}
.other-items h4{
    margin: 10px;
}
.fix{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 550px;
    left: 460px;
}
.offers{
    background-color: green;
    width: 500px;
    display: flex;
    border: 8px solid red;
    box-shadow: 10px 10px 5px purple;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}